BOT_TOKEN=123456:Your-TokEn_ExaMple
ADMINS=123456,654321
USE_REDIS=False

#POSTGRES_USER=someusername
#POSTGRES_PASSWORD=postgres_pass12345
#POSTGRES_DB=bot
#DB_HOST=pg_database

# REDIS_HOST=redis_cache
# REDIS_PORT=6388
# REDIS_DB=1
# REDIS_PASSWORD=someredispass


#WEBHOOK_EXPOSE=8001
#WEBHOOK_APP_NAME=webhook
